:root {
}

.App {
  text-align: center;
    
}
.adding {
  content: "Add";
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#root {

  margin: auto;
  height: 100%;
  padding: 30% 15px;
}
.bucket {
  fill: black;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container {
  display: flex;
  justify-content:center;
  height: 100%
}
.pixel-row {
  display: flex;
}

.pixel {
  width: 40px;
  height: 40px;
}
.color-0 {
  background: #1026b5;
}
.color-1 {
  background: #108eb5;
}
.color-2 {
  background: #105ab5;
}
.colors { 
  place-self: end;
}

.paint-board {
  background: white;
  border: 2px solid black;
  box-shadow: 0 5px 10px 2px var(--background-color-light);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
