:root {
  --active-color: #1026b5;
  --color-0: #1026b5;
  --color-1: #108eb5;
  --color-2: #105ab5;
}

#root {
  margin: auto;
  height: 100%;
  padding-block: 50px 200px;
}

.bucket, .brush {
  fill: white;
}
:is(.bucket, .brush).active {
  fill: var(--active-color);
}
:is(.bucket, .brush):hover {
  fill: var(--active-color);
}

.container {
  @apply flex justify-center h-full;
}

.pixel-row {
  display: flex;
}

.pixel, .color-picker {
  width: 40px;
  height: 40px;
  transition: background 0.2s;
}

.pixel:hover {
  background: var(--active-color);
}

.color-picker {
  transition: 0.2s;
  opacity: 1;
}

.color-picker:hover {
  opacity: 0.8;
}

.color-picker.active {
  border: 2px solid white;
}

.color-pallet { 
  place-self: end;
}

.color-0 {
  background: var(--color-0);
}

.color-1 {
  background: var(--color-1);
}

.color-2 {
  background: var(--color-2);
}


.paint-board {
  background: white;
  border: 2px solid black;
  box-shadow: 0 5px 10px 2px var(--background-color-light);
}


