:root {
  --active-color: #1026b5;
  --color-0: #1026b5;
  --color-1: #108eb5;
  --color-2: #105ab5;
}

#root {
  @apply m-auto h-full pt-2 pb-52;
}

.bucket, .brush {
  fill: white;
}
:is(.bucket, .brush).active {
  fill: var(--active-color);
}
:is(.bucket, .brush):hover {
  fill: var(--active-color);
}

.container {
  @apply flex justify-center h-full;
}

.algo-header {
  @apply text-2xl text-center mb-4
}

.pixel-row {
  @apply flex;
}

.pixel, .color-picker {
  @apply size-10 transition-colors duration-200;
}

.pixel:hover {
  @apply bg-[var(--active-color)];
}

.color-picker {
  @apply duration-200;
}

.color-picker:hover {
  @apply opacity-80;
}

.color-picker.active {
  @apply border-2 border-white;
}

.controls {
  @apply flex items-center space-x-4 sticky top-4;
}
.tools {
  @apply inline-flex gap-4;
}
.color-palette { 
  @apply inline-flex gap-4 place-self-end;
}

.color-0 { 
  @apply bg-[var(--color-0)];
}

.color-1 { 
  @apply bg-[var(--color-1)];
}

.color-2 { 
  @apply bg-[var(--color-2)];
}


.paint-board {
  @apply w-fit mx-auto bg-white border-2 border-black shadow-md shadow-[var(--background-color-light)];
}
